img
{
	border: 0;
}
form
{
	margin: 0px;
	padding: 0px;
}
body
{
	font-family: arial, helvetica, sans-serif;
	margin: 0px;
	color: #000000;
	}
.agreementknow {
	padding-right: 14px; padding-left: 14px; font-weight: bold; font-size: 75%; padding-bottom: 10px; color: #074580; padding-top: 10px
}

.bodytext_bt_terms
{
        font-size: 82%;
        font-weight: normal;
}
.bodytext
{
	font-size: 75%;
	font-weight: normal;
}
.bodytext5
{
	font-size: 75%;
	padding: 5px 0px 5px 0px;
}
.bodytext5sm
{
	font-size: 70%;
	padding: 5px 0px 5px 0px;
}
.bodytext10
{
	font-size: 75%;
	padding: 10px 0px 10px 0px;
}
.bodytext10sm
{
	font-size: 70%;
	padding: 5px 0px 5px 10px;
}
.bodytextbold
{
	font-size: 75%;
	font-weight: bold;
}
.bodytextboldwhite
{
	font-weight: bold;
	color: #ffffff;
	font-size: 75%;
	background-color: transparent;
}
/*gwui 1pg*/
.bodytextboldmed
{
	font-size: 75%;
	font-weight: bold;
}
/*4pgs*/
.bodytextboldr
{
	font-size: 75%;
	font-weight: bold;
	text-align: right;
}
.bodytextc
{
	font-size: 75%;
	text-align: center;
}
/*2*/
.bodytextcsm
{
	font-size: 70%;
	text-align: center;
}
/*93/28*/
/*2*/
.bodytextlsm
{
	font-size: 70%;
	text-align: left;
}
/*93/28*/
.bodytextrsm
{
	font-size: 70%;
	text-align: right;
}
/*15*/
.bodytextsm
{
	font-size: 70%;
	font-weight: normal;
}
/*lots*/

a:link, a:visited
{
	color: #003366;
	background-color: transparent;
	text-decoration: underline;
}
a:active, a:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
}
a.bclink:link, a.bclink:visited
{
	color: #000000;
	background-color: transparent;
	text-decoration: underline;
}
/*7pgs*/
a.bclink:active, a.bclink:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
}
/*7pgs*/
a.globalnavlinks:link, a.globalnavlinks:visited
{
	color: #666666;
	background-color: transparent;
	text-decoration: none;
}
/*10pgs*/
a.globalnavlinks:active, a.globalnavlinks:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
}
/*10pgs*/
a.helplinks:link, a.helplinks:visited
{
	color: #003366;
	background-color: transparent;
	text-decoration: none;
	font-size: .7em;
	font-weight: normal;
}
a.helplinks:active, a.helplinks:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
	font-size: .7em;
	font-weight: normal;
}
a.myaccountlinks:link, a.myaccountlinks:visited
{
	color: #4d7831;
	background-color: transparent;
	text-decoration: none;
	background-image: url(../../../images/arrow_green_rt.gif);
	background-position: -10px;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 7px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
}
a.myaccountlinks:active, a.myaccountlinks:hover
{
	color: #4d7831;
	background-color: transparent;
	text-decoration: underline;
	background-image: url(../../../images/arrow_green_rt.gif);
	background-position: -10px;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 7px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
}
a.relatedlinks:link, a.relatedlinks:visited
{
	color: #003366;
	background-color: transparent;
	text-decoration: underline;
	font-size: .7em;
}
a.myAccountLinksbl:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
a.myAccountLinksbl:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
a.myAccountLinksbl:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
a.myAccountLinksbl:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}

a.myAccountLinksblnormal:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: Black; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none; cursor:text;
}
a.myAccountLinksblnormal:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: Black; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none; cursor:text;
}
a.myAccountLinksblnormal:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: Black; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none; cursor:text;
}
a.myAccountLinksblnormal:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: Black; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-DECORATION: none; cursor:text;
}


a.relatedlinks:active, a.relatedlinks:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
	font-size: .7em;
}
a.relatedlinksred:link, a.relatedlinksred:visited
{
	color: #990000;
	background-color: transparent;
	font-size: .7em;
	text-decoration: underline;
}
/*4pgs*/
a.relatedlinksred:active, a.relatedlinksred:hover
{
	color: #5280b1;
	background-color: transparent;
	font-size: .7em;
	text-decoration: underline;
}
/*4pgs*/
a.searchtablelink:link, a.searchtablelink:visited
{
	color: #4d7831;
	background-color: transparent;
	text-decoration: underline;
	background-image: url(../../../images/arrow_outlined_green.gif);
	background-position: 0px;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 20px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
}
/*5pgs*/
a.searchtablelink:active, a.searchtablelink:hover
{
	color: #4d7831;
	background-color: transparent;
	text-decoration: underline;
	background-image: url(../../../images/arrow_outlined_green.gif);
	background-position: 0px;
	background-repeat: no-repeat;
	padding: 0px 5px 0px 20px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
}
/*5pgs*/
a.summarysubheaderlink:link, a.summarysubheaderlink:visited
{
	color: #003366;
	background-color: transparent;
	text-decoration: underline;
}
a.summarysubheaderlink:active, a.summarysubheaderlink:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: underline;
}

.adtable
{
	width: 162px;
}
.adtext
{
	font-size: 75%;
	background-color: #f2f2e1;
}
.alerttext
{
	color: #990000;
	background-color: transparent;
	font-size: 1.2em;
	font-weight: bold;
}
.alerttext2
{
	color: #990000;
	background-color: transparent;
	font-size: 1.6em;
	font-weight: bold;
	vertical-align: bottom;
}
.alerttext3
{
	color: #990000;
	background-color: transparent;
	font-size: 1.1em;
	font-weight: bold;
}
.alerttext4
{
	color: #990000;
	background-color: transparent;
	font-size: 1.6em;
	font-weight: bold;
	vertical-align: top;
}
.backgq
{
	background-image: url(../../../images/gqback.gif);
	background-repeat: no-repeat;
	width: 155px;
	height: 74px;
}
/*1*/
.bcon
{
	color: #5280b1;
	background-color: transparent;
	font-weight: bold;
}
.bcrow
{
	font-size: 70%;
	height: 20px;
	padding-left: 10px;
}
/*8*/
.bluetext
{
	font-size: 75%;
	color: #003366;
	background-color: transparent;
}
/*8/6*/

.button
{
	font-size: 70%;
}
/*ambigious*/
.buttonback
{
	color: #FFFFFF;
	font-family: arial;
	font-weight: bold;
	background-color: #999999;
	margin: 5px 0px 0px 5px;
	font-size: 80%;
}
/*288/188*/
.buttonfwd
{
	background-image: url(../../../images/button_bg.gif);
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: arial;
	font-weight: bold;
	background-color: #a7c68a;
	margin: 5px 0px 0px 5px;
	font-size: 80%;
}
/*322/258*/

.buttonfwddisabled
{
	background-image: url(../../../images/button_bg.gif);
	background-repeat: repeat-x;
	color: #a7c68a;
	font-family: arial;
	font-weight: bold;
	background-color: #a7c68a;
	margin: 5px 0px 0px 5px;
	font-size: 80%;
}
.checkimage
{
	border-right: gray 0px solid;
	padding-right: 0px;
	border-top: gray 0px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	overflow: auto;
	border-left: gray 0px solid;
	width: 509px;
	padding-top: 0px;
	border-bottom: gray 0px solid;
	height: 204px;
	margin: 0px 0px 0px 0px;
}
/*ambiguous*/
.column4
{
	width: 155px;
}
.columnheader
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 70%;
	padding-bottom: 3px;
	vertical-align: top;
	padding-top: 3px;
	border-bottom: #ffffff 1px solid;
	background-color: #f2f2e1;
	color: inherit;
}
.datacell
{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 70%;
	padding-bottom: 3px;
	vertical-align: baseline;
	padding-top: 3px;
}

.confrow
{
	font-size: .8em;
	color: #ffffff;
	font-weight: bold;
	background-color: #4a752f;
	height: 30px;
}
.conftext
{
	font-size: .9em;
	color: #4a752f;
	background-color: transparent;
	font-weight: bold;
}

.dashes
{
	background-image: url(../../../images/bk-dash.gif);
	height: 4px;
	font-size: 1px;
	background-position: bottom left;
	background-repeat: repeat-x;
}
.detaillistlabel
{
	font-size: 70%;
	padding: 3px 0px 3px 10px;
	vertical-align: baseline;
}
/*16/3*/
.detailtable3col
{
	width: 98%;
	margin-left: 10px;
}
/*1 invest*/
.disclaimer
{
	font-size: .7em;
	color: #000000;
	background-color: transparent;
	font-weight: normal;
}
/*ambigous*/
.divider
{
	height: 1px;
	font-size: 1px;
	background-image: url(../../../images/dash2.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	margin-top: 20px;
	margin-bottom: 10px;
}
.divider2
{
	height: 1px;
	font-size: 1px;
	background-image: url(../../../images/dash.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	margin-top: 20px;
	margin-bottom: 10px;
}
.divider3
{
	font-size: 70%;
	background-image: url(../../../images/dash.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
} 
.divider4
{
  height: 1px;
  font-size: 1px;
  background-image: url(../../../images/dash_c2c2c2.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  margin-top: 20px;
  margin-bottom: 10px;
}
.divider5
{
  height: 1px;
  font-size: 1px;
  background-image: url(../../../images/dash_c2c2c2.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.dividerv
{
	height: 4px;
	font-size: 1px;
	background-image: url(../../../images/dashv.gif);
	background-position: bottom;
	background-repeat: repeat-y;
	padding-left: 5px;
	padding-right: 10px;
}
.textdivider {
  padding: 8px 28px 8px 28px;
  background-image: url(../../../images/dash2.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
}
/*9/5*/
.errorrow
{
	font-size: .8em;
	color: #ffffff;
	font-weight: bold;
	background-color: #d98c40;
	height: 30px;
	text-align: center;
}
.errortext
{
	font-size: .9em;
	color: #d98c40;
	background-color: transparent;
	font-weight: bold;
}
.errortextsm
{
	font-size: .75em;
	color: #d98c40;
	background-color: transparent;
	font-weight: bold;
}
.errorbody
{
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.featurehelpwidth
{
	width: 480px;
}
/*oao*/
.footertext
{
	font-size: .7em;
	color: #666666;
	background-color: transparent;
	padding-bottom: 10px;
}
.formtable
{
	width: 721px;
	margin-top: 20px;
	margin-left: 10px;
}
.formtable3col
{
	width: 98%;
	margin-top: 20px;
	margin-left: 10px;
}
.fullwidth
{
	width: 966px;
}
/*
.fullwidth table{
 width: 100%;
}

.fullwidth td, .fullwidth th{
 width: auto;
 margin: 0 auto !important;
}

.fullwidth table{
 margin: 0 auto;
}


.Printable{
 width: 780px;
 margin: 0 auto;
}
*/

.globalnav
{
	color: #666666;
	background-color: white;
	font-size: 70%;
	text-align: right;
}
#logoffbutton
{
	vertical-align: middle;
}

.dblueheader
{
	background-color: #5280b1;
	color: inherit;
	font-weight: bold;
	color: #003366;
	vertical-align: bottom;
	border-bottom: solid #ffffff 1px;
}
.dblueheaderleft
{
	background-color: #5280b1;
	color: inherit;
	background-image: url(../../../images/curvebg_darkblue_left.gif);
	background-repeat: no-repeat;
	width: 12px;
	border-bottom: solid #ffffff 1px;
}
.dblueheaderright
{
	background-color: #5280b1;
	color: inherit;
	background-image: url(../../../images/curvebg_darkblue_right.gif);
	background-repeat: no-repeat;
	background-position:right top;
	width: 12px;
	border-bottom: solid #ffffff 1px;
}
.grayrow
{
	background-color: #ebebeb;
	color: inherit;
	font-weight: bold;
	height: 30px;
}
.grayrowalternet
{
	background-color: #ebebeb;
	font-size: 75%;
	font-weight: normal;
}

.graytext
{
	color: #666666;
	background-color: transparent;
	font-size: .75em;
}
.graytextsm
{
	color: #666666;
	background-color: transparent;
	font-size: .7em;
}
.lblueheader
{
	background-color: #d4dfeb;
	font-weight: bold;
	color: #003366;
	width: 707px;
	vertical-align: bottom;
	border-bottom: solid #ffffff 1px;
}
.lblueheader35
{
	background-color: #d4dfeb;
	font-weight: bold;
	color: #003366;
	width: 35%;
	vertical-align: bottom;
	border-bottom: solid #ffffff 1px;
}
.lblueheader2
{
	background-color: #d4dfeb;
	font-weight: bold;
	color: #003366;
	vertical-align: bottom;
	border-bottom: solid #ffffff 1px;
}
.lblueheaderleft
{
	background-color: #d4dfeb;
	color: inherit;
	background-image: url(../../../images/curvebg_lightblue_left.gif);
	background-repeat: no-repeat;
	width: 12px;
	border-bottom: solid #ffffff 1px;
}
.lblueheaderright
{
	background-color: #d4dfeb;
	color: inherit;
	background-image: url(../../../images/curvebg_lightblue_right.gif);
	background-repeat: no-repeat;
	width: 12px;
	border-bottom: solid #ffffff 1px;
	background-position:top right;
}
.lbluerow
{
	background-color: #d4dfeb;
	color: #003366;
}
.tanheader
{
	background-color: #f2f2e1;
	color: inherit;
	font-weight: bold;
	color: #003366;
	vertical-align: bottom;
}
.tanheaderleft
{
	background-color: #f2f2e1;
	color: inherit;
	background-image: url(../../../images/curvebg_tan_left.gif);
	background-repeat: no-repeat;
	width: 12px;
}
.tanheaderright
{
	background-color: #f2f2e1;
	color: inherit;
	background-image: url(../../../images/curvebg_tan_right.gif);
	background-repeat: no-repeat;
	width: 12px;
}
.tanrow
{
	background-color: #f2f2e1;
	color: inherit;
	font-weight: bold;
	height: 25px;
}
.tanbuttonrow
{
	background-color: #f2f2e1;
	color: inherit;
	padding: 10px 0px 10px 0px;
}
.taninst
{
	background-color: #f2f2e1;
	color: inherit;
}
.helpcenterwidth
{
	width: 560px;
}
/*oao 2*/

.idliketo
{
	list-style-image: url(../../../images/arrow_blue_rt.gif);
	list-style-type: none;
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 12px;
	padding-left: 0px;
}
.idliketo2
{
	list-style-image: url(../../../images/arrow_blue_rt.gif);
	list-style-type: none;
	padding-top: 0px;
	margin-top: -12px;
	margin-left: 15px;
	margin-bottom: 12px;
	padding-left: 0px;
}
.idliketored
{
	list-style-image: url(../../../images/arrow_red_rt.gif);
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	background-position: center;
}
.idliketoexttext
{
	font-size: 75%;
	font-weight: normal;
	padding-left: 15px;
}
/*1 nisi*/

.inputfield
{
	font-size: 70%;
	font-weight: bold;
	height: 30px;
	padding: 2px 10px 2px 0px;
}
.inputfield1
{
	font-size: 70%;
	font-weight: bold;
	text-align: right;
	height: 30px;
	padding: 2px 10px 2px 0px;
	vertical-align: top;
}
.inputfield11
{
	font-size: 70%;
	font-weight: bold;
	text-align: right;
	height: 30px;
	padding: 2px 10px 2px 0px;
	vertical-align: middle;
}
.inputfield2
{
	margin: 2px 0px 2px 0px;
	vertical-align: top;
	padding: 1px 0px 2px 0px;
}
/*7/6*/
.inputtextbox
{
	font-size: 75%;
	margin: 2px 0px 2px 0px;
	vertical-align: top;
	padding: 2px 0px 2px 0px;
}
.inputtextboxe
{
	font-size: 75%;
	margin: 2px 0px 2px 0px;
	border: medium solid #d98c40;
	border-color: #d98c40;
	vertical-align: top;
}
.inputtextboxe1
{
	margin: 2px 0px 2px 0px;
	border: thin solid #d98c40;
	border-color: #d98c40;
	vertical-align: top;
}
.selectlist
{
	font-size: 70%;
	margin: 2px 0px 2px 0px;
	vertical-align: top;
	padding: 0px;
}
.selectliste
{
	font-size: 70%;
	margin: 2px 0px 2px 0px;
	vertical-align: top;
	padding: 0px;
	color: #ffffff;
	font-weight: bold;
	background-color: #d98c40;
}
.radioerror
{
	background-color: #d98c40;
	color: inherit;
	padding: 2px 2px 2px 0px;
}
.checkboxerror
{	
	margin: 2px 0px 2px 0px;
	border: medium solid #d98c40;
	border-color: #d98c40;
	vertical-align: top;
}
.checkboxerrorTCPA
{	
	margin: -2px 0px 2px 0px;
	border: medium solid #d98c40;
	border-color: #d98c40;
	vertical-align: top;
}
.disabledfield
{
	background-color: #808080;
}

.instrtext
{
	font-size: 75%;
	color: #666666;
	background-color: transparent;
}
.instrtextarea
{
	padding: 0px 15px 0px 15px;
}
.instrtexthead
{
	font-size: 1.2em;
}
.instrtexttable
{
	margin-left: 10px;
	margin-top: 18px;
	width: 535px;
}

.leftcol
{
	width: 155px;
}
.negative
{
	color: #990000;
	background-color: transparent;
}
.pagetitle
{
	font-size: 1.25em;
	color: #999999;
	background-color: transparent;
	padding-left: 15px;
	font-weight: bold;
}
.pagetitle sup {font-size:65%; position:relative; top:-1px;}
.progressbar
{
	margin-left: 25px;
}
.printmyaccountswidth
{
	width: 600px;
}
.searchtextbox
{
	font-size: 80%;
	margin: 2px 0px 2px 0px;
	padding: 2px 0px 2px 0px;
}
/*1 nisi*/

.spacerh3
{
	height: 3px;
	font-size: 3px;
}
.spacerh5
{
	height: 5px;
	font-size: 5px;
}
.spacerh8
{
	height: 8px;
	font-size: 8px;
}
.spacerh10
{
	height: 10px;
	font-size: 10px;
}
.spacerh20
{
	height: 20px;
	font-size: 20px;
}
.spacerh25
{
	height: 25px;
	font-size: 25px;
}
.spacerh30
{
	height: 30px;
	font-size: 30px;
}
.spacerh45
{
	height: 45px;
	font-size: 45px;
}
/*inv 1*/
.spacerh50
{
	height: 50px;
	font-size: 50px;
}
.spacerh57
{
	height: 57px;
	font-size: 57px;
}
/*5*/
.spacerw5
{
	width: 5px;
}
.spacerw10
{
	width: 10px;
}
.spacerw15
{
	width: 15px;
}
.spacerw16
{
	width: 16px;
}
.spacerw20
{
	width: 20px;
}
.spacerw25
{
	width: 25px;
	padding-left: 80px;
}
.spacerw30
{
	width: 30px;
}
.spacerw40
{
	width: 40px;
}

.stepdone
{
	border: #000000 1px solid;
	padding: 0px 0px 0px 0px;
	height: 10px;font-size:1px;
	background-color: #003366;
	color: #cccccc;
}
.stepnext
{
	border: #666666 1px solid;
	padding: 0px 0px 0px 0px;
	height: 10px;font-size:1px;
	background-color: #ffffff;
	color: #ffffff;
}
.stepon
{
	border: #666666 1px solid;
	padding: 0px 0px 0px 0px;
	height: 10px;font-size:1px;
	background-color: #5280b1;
	color: inherit;
	background-position: center;
	background-image: url(../../../images/indicator.gif);
	background-repeat: no-repeat;
}
.steptextoff
{
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 3px;
	color: #666666;
	background-color: transparent;
	padding-top: 3px;
	font-size: 70%;
}
.steptexton
{
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 3px;
	color: #000000;
	background-color: transparent;
	padding-top: 3px;
	font-size: 70%;
	font-weight: bold;
}
.summaryheader
{
	font-size: 70%;
	padding: 10px 0px 5px 0px;
}
.summaryheaderlg
{
	font-size: 1.1em;
	padding: 10px 0px 5px 0px;
}
.summaryheaderlgb
{
	font-size: 1.1em;
	padding: 10px 0px 5px 0px;
	color: #003366;
	background-color: transparent;
}
.summaryheaderlgw
{
	font-size: 1.1em;
	padding: 10px 0px 5px 0px;
	color: #ffffff;
	background-color: transparent;
}
.summaryheadern
{
	font-size: 70%;
	padding: 10px 0px 5px 0px;
	font-weight: normal;
}
.summaryheaderw
{
	font-size: 70%;
	padding: 10px 0px 5px 0px;
	color: #ffffff;
	background-color: transparent;
}
.summaryheadermed 
{
	font-size: 16px; 
	padding: 5px 0px 5px 0px;
	color: #003366; 
	font-weight: bold;
}
.summarylist
{
	font-size: 70%;
	padding: 3px 0px 3px 3px;
	vertical-align: baseline;
}
.summarydeplist
{
	font-size: 70%;
	padding: 0px 0px 0px 0px;
}
/*gwui*/
.tableinfo
{
	font-size: 70%;
	color: inherit;
	background-color: #ebebeb;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	vertical-align: top;
	border-bottom: solid #ffffff 1px;
}
.tableinfo2
{
        font-size: 70%;
        color: inherit;
        background-color: #ebebeb;
        font-weight: bold;
        vertical-align: top;
        border-bottom: solid #ffffff 1px;
}
.titletable
{
	width: 535px;
}
.summarylabel
{
	padding-left: 10px;
}
.vpad44
{
	padding-top: 4px;
	padding-bottom: 4px;
}
.vpad88
{
	padding-top: 8px;
	padding-bottom: 8px;
}

.headerbardate
{
	font-weight:bold;
	text-align: right;
	padding-right: 15px;
	vertical-align: bottom;
	padding-bottom: 3px;
}
/*1 nisi*/
.newsum
{
	font-size: 75%;
	font-weight: bold;
	color: #666666;
	background-color: transparent;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
	text-align: center;
	vertical-align: top;
}
/*3/1 gwui*/
.pfpthickbar
{
	background: #000000;
	height: 4px;
	font-size: 4px;
}
/*gwui 2/2*/
.pfptopheaderbar
{
	color: #000000;
	font-size: 70%;
	text-align: center;
	font-weight: bold;
}
/*gwui 1/1*/

/*mm*/
.pntheaderbarblue
{
	background: #5280b1;
}
/*mm 3/1*/
.w550
{
	width: 550px;
}
/*mm*/
.bluetext5
{
	font-size: 75%;
	color: #003366;
	padding: 5px 0px 5px 0px;
}
/*mm 10/1*/
.bodytextboldcsm
{
	font-size: 70%;
	font-weight: bold;
	text-align: center;
}
/*mm*/
a.noline:link, a.noline:visited
{
	color: #003366;
	background-color: transparent;
	text-decoration: none;
}
/*mm only 1 file*/
a.noline:active, a.noline:hover
{
	color: #5280b1;
	background-color: transparent;
	text-decoration: none;
}
/*mm only 1 file*/
.alternatingrowcolor
{
	color: inherit;
	background-color: #f2f2f2;
}
/*mm*/
.selectedpayeecolor
{
	color: inherit;
	background-color: #f7f9ca;
}
/*mm*/
.logobox
{
	border-top: solid #ffffff 5px;
	border-bottom: solid #ffffff 5px;
	color: inherit;
	background-color: #ffffff;
	vertical-align: top;
	margin-bottom: 7px;
}
/*mm 2*/
.redtext
{
	color: #990000;
	background-color: transparent;
}
/*mm*/
td.sidebarltblue
{
	background: #d4dfeb;
	width: 1px;
	max-width: 1px;
}
/*mm*/
.titleltblue
{
	color: #5280b1;
	background-color: transparent;
	font-weight: bold;
}
/*mm*/

a.relatedlinksblack:link, a.relatedlinksblack:visited
{
	color: #000000;
	background-color: transparent;
	font-size: .7em;
	text-decoration: none;
	font-weight: normal;
}
a.relatedlinksblack:active, a.relatedlinksblack:hover
{
	color: #5280b1;
	background-color: transparent;
	font-size: .7em;
	text-decoration: none;
	font-weight: normal;
}

.headerbarback
{
	background-image: url(../images/headerback.gif);
	background-repeat: no-repeat;
	width: 966px;
}
/*cls only*/

.greenheader {background-color:#4a752f; font-weight:bold; color:#003366;  vertical-align:bottom; border-bottom:solid #ffffff 1px;}
.greenheaderleft {background-color:#4a752f; color:inherit; background-image:url(../../../images/curvebg_green_left.gif); background-repeat:no-repeat; width:12px; border-bottom:solid #ffffff 1px;}
.greenheaderright {background-color:#4a752f; color:inherit; background-image:url(../../../images/curvebg_green_right.gif); background-repeat:no-repeat; width:12px; border-bottom:solid #ffffff 1px;}

/* below are overriden in site and theme specific classes*/
td.bottombar
{
	color: inherit;
	background-color: #5181b2;
	height: 4px;
	font-size: 4px;
}
td.sidebar
{
	color: inherit;
	background-color: #5181b2;
	width: 4px;
	min-width: 4px;
	font-size: 4px;
}

.headerbar
{
	color: #ffffff;
	background-color: transparent;
	font-size: 70%;
	padding-top: 5px;
	vertical-align: middle;
}
.headerbarwidth
{
	background-image: url(../images/headerback966.gif);
	background-repeat: no-repeat;
	width: 966px;
}
.segimage
{
	background-image: url(../images/headertext.gif);
	width: 200px;
	height: 25px;
	background-repeat:no-repeat;
}

.tabaccountsoff
{
	background-image: url(../images/tabs_accounts_off.gif);
	width: 117px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabaccountson
{
	background-image: url(../images/tabs_accounts_on.gif);
	width: 117px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabaccountsnone
{
	display: none;
	visibility: hidden;
}
.tabcustomercenteroff
{
	background-image: url(../images/tabs_customer_off.gif);
	width: 149px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabcustomercenteron
{
	background-image: url(../images/tabs_customer_on.gif);
	width: 149px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabcustomercenternone
{
	display: none;
	visibility: hidden;
}
.tabinvestingoff
{
	background-image: url(../images/tabs_investments_off.gif);
	width: 99px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabinvestingon
{
	background-image: url(../images/tabs_investments_on.gif);
	width: 99px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabinvestingnone
{
	display: none;
	visibility: hidden;
}
.tabpaymentsoff
{
	background-image: url(../images/tabs_payments_off.gif);
	width: 175px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabpaymentson
{
	background-image: url(../images/tabs_payments_on.gif);
	width: 175px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabpaymentsnone
{
	display: none;
	visibility: hidden;
}
.tabproductsoff
{
	background-image: url(../images/tabs_products_off.gif);
	width: 164px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabproductson
{
	background-image: url(../images/tabs_products_on.gif);
	width: 164px;
	height: 28px;
	background-repeat:no-repeat;
}
.tabproductsnone
{
	display: none;
	visibility: hidden;
}
.tabchasenetoff
{
	background-image: url(../images/tabs_chasenet_off.gif);
	width: 146px;
	height: 27px;
	background-repeat:no-repeat;
}
.tabchaseneton
{
	background-image: url(../images/tabs_chasenet_on.gif);
	width: 146px;
	height: 28px;
	background-repeat:no-repeat;
}

.lblueheaderbold
{
	background-color: #d4dfeb;
	font-weight: bold;
}
.divbottom
{
	height: 1em;
	border: solid gray 0px;
	padding: 1px;
	border: 1px;
	border-color: black;
}
.srcollingdiv
{
	height: 5em;
	overflow-y: auto;
	border: solid gray 0px;
	padding: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-color: black;
}

.greybg
{
	background-color:#ebebeb; 
	font-size: 75%;
	margin: 2px 0px 2px 0px;
	vertical-align: top;
	padding: 2px 0px 2px 0px;
}

.orangeInfoText
{
	font-size: 75%;
	color: #d98c40;
	font-weight: bold;
} 

.orangeInfoText1
{
	font-size:.75em;
	color: #d98c50;
	font-weight: normal;
} 

.altrowbg {background-color:#ebebeb;}
.greentext {color:#4a752f;}
.agreementhelp{background-color: #ebebeb}
.agreementprint{padding-right: 14px; padding-left: 10px; padding-bottom: 10px; padding-top: 10px}
.agreementknow{ padding-right: 14px; padding-left: 14px; font-weight: bold; font-size: 75%; padding-bottom: 10px; color: #074580; padding-top: 10px}
.agreementdescription {padding-right: 14px; padding-left: 14px; font-weight: bold; font-size: 75%; padding-bottom: 0px; padding-top: 0px}
.agreementbody{padding-left: 12px;}
.instrtext {font-size: 75%; color: #666666}
.instrtextarea {padding-right: 15px; padding-left: 15px; padding-bottom: 0px; padding-top: 0px}
.instrtexthead {font-size: 1.2em}
.closewin {font-weight: bold; font-size: 10px; color: #003366; font-family: verdana, sans-serif}.botbor {border-bottom-color : #eeeeee; border-bottom-style : solid; border-bottom-width : 2px;}
.bgYellow{background-color:#f7f9ca;}



a.dblueheaderlink:link,a.dblueheaderlink:visited{font-size:70%; padding: 5px 0px 5px 0px; color:#ffffff; text-decoration:none;} 
a.dblueheaderlink:active,a.dblueheaderlink:hover{font-size:70%; padding: 5px 0px 5px 0px; color:#ffffff; text-decoration:underline;}
 
a.lblueheaderlink:link,a.lblueheaderlink:visited{font-size:70%; padding: 5px 0px 5px 0px; color:#003366; text-decoration:none}
a.lblueheaderlink:active,a.lblueheaderlink:hover{font-size:70%; padding: 5px 0px 5px 0px; color:#003366; text-decoration:underline;}

.checkborder{border:1px solid #CC9900;} 

.printwidth {width: 650px;}

.headerbarnew{	background:url(../../../images/default_bg.gif);background-repeat:no-repeat}
.stepnextnew{border:#666666 1px solid;padding:0px 0px 0px 0px;height:8px;font-size:1px;color:#ffffff}
.steponnew{border:#666666 1px solid;padding:0px 0px 0px 0px;height:8px;font-size:1px;background-color:#5280b1;color:inherit;background-position:center;background-image:url(../../../images/indicator.gif);background-repeat:no-repeat}
.stepdonenew{border:#000000 1px solid;padding:0px 0px 0px 0px;height:8px;font-size:1px;background-color:#003366;color:#cccccc}
.divcenter{margin:auto;width:966px}
.widthper100{width:100%}
.widthper2{width:2%}
.widthper20{width:20%}
.vtmdl{vertical-align:middle}
.widthper48{width:48%}
.widthper50{width:50%}
.alerttext2new{color:#990000;font-size:1.6em;font-weight:bold;vertical-align:top}
.selectlistnew{font-size:70%;margin-top:2px;margin-bottom:0px;vertical-align:top;padding-top:1px;padding-bottom:0px}
.nowrapnew{white-space:nowrap}
.pagetitlenew{font-size:1.25em;color:#999999;background-color:transparent;padding-left:25px;font-weight:bold}
.helpicon{vertical-align:bottom} 
.btnw250{width:250px}
.bgwhite{background-color:#fff}
.chkbgcolor{background-color:#FFF4D2}
.selcolor{color:#003366;text-decoration:none;font-weight:bold;cursor:text}
.noselcolor{color:#003366;text-decoration:underline;font-weight:normal;cursor:pointer;cursor:hand}
.pad2{padding-top:2px;padding-bottom:2px;padding-left:2px;padding-right:2px}
.greytext{color:#666666}
.bodytextboldunderline{font-size:75%;font-weight:bold;border-bottom:#000000 solid 5px;float:left;*float:none;*display:inline;padding-bottom:5px;margin-bottom:10px;zoom:1}
.divcenterprint	{margin:auto;width:600px}
.blackbdr5{border-top:5px solid black;margin-top:2px}
.blackbdr3{border-top:3px solid black;zoom:1;margin-top:4px}

.tlcrvebg,.tlcrvebgsel{height:26px;overflow:hidden;padding:0 0 0 12px;background:url(../../../images/curve_lbg.gif) #dedede left 0 no-repeat}
.tlcrvebgsel{background:url(../../../images/curve_lbg.gif) #5280b1 left -26px no-repeat}
.trcrvebg,.trcrvebgsel,.tlcrvebg .trcrvebgsel,.tlcrvebgsel .trcrvebg{background:url(../../../images/curve_rbg.gif) #dedede right 0 no-repeat;padding:4px 0 0}
.trcrvebgsel,.tlcrvebgsel .trcrvebg{background:url(../../../images/curve_rbg.gif) #5280b1 right -26px no-repeat}
.toggleicon,.toggleiconsel{float:right;margin:4px 8px 4px 0;background:url(../../../images/twistarrowbg.gif) #dedede 0 -7px no-repeat}
.toggleiconsel{background:url(../../../images/twistarrowbg.gif) #5280b1 0 -33px no-repeat}

.tbmrgn{margin:7px 0;zoom:1}
.trcrvebg .boxhdr,.trcrvebg a.boxhdr,.trcrvebg a.boxhdr:visited,.trcrvebgsel .boxhdr,.trcrvebgsel a.boxhdr,.trcrvebgsel a.boxhdr:visited,.tlcrvebgsel .trcrvebg .boxhdr,.tlcrvebgsel .trcrvebg a.boxhdr,.tlcrvebgsel .trcrvebg a.boxhdr:visited,.tlcrvebg .trcrvebgsel .boxhdr,.tlcrvebg .trcrvebgsel a.boxhdr,.tlcrvebg .trcrvebgsel a.boxhdr:visited{padding:0;font:bold 0.8em arial;color:#003366;text-decoration:none}
.trcrvebgsel .boxhdr,.trcrvebgsel a.boxhdr,.trcrvebgsel a.boxhdr:visited,.tlcrvebgsel .trcrvebg .boxhdr,.tlcrvebgsel .trcrvebg a.boxhdr,.tlcrvebgsel .trcrvebg a.boxhdr:visited{color:#ffffff}
.toggledivnew{margin:1px 0;clear:both;padding:0;zoom:1;background:#ffffff;border:0px solid #5280b1}
.togglediv{margin:1px 0;clear:both;padding:0;zoom:1;background:#ffffff;border:1px solid #5280b1;border-top:0px solid #5280b1}
.boxsubhdr{font:bold 0.77em arial;color:#003366;background:#d4dfeb;border-bottom:1px solid #ffffff}
.boxsubhdrnrml{font:normal 0.71em arial;color:#003366;background:#d4dfeb;border-bottom:1px solid #ffffff}
.hidedata{display:none}
.showdata{display:block}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.bluebldbot{color:#003366;font:bold 0.7em arial;padding:7px 10px}
.tcvm{text-align:center;vertical-align:middle;height:22px}
.vt{vertical-align:top;height:22px}
.vm{vertical-align:middle}
.spcrw100{width:205px;font:normal 0.7em arial}
.pd3{padding:3px}
.pd5{padding:5px}
.tpd5{padding:5px 0}
.calico{margin:0 2px -2px}
.w40{width:25px}
.w20{width:20px}
.dkblue28h{background:#5280b1}
.w300px{width:330px}
.w28pc{width:28%}
.w10{width:10px}
.h26fx{height:26px;position:relative;overflow:hidden}
.h31fx{height:31px;position:relative;overflow:hidden}
.checkbordernotop{border-left:1px solid #CC9900;border-right:1px solid #CC9900;border-bottom:1px solid #CC9900}
.checkbordertop{border-top:1px solid #CC9900}
.checkborderleft{border-left:1px solid #CC9900;border-top:1px solid #CC9900}
.checkborderright{border-right:1px solid #CC9900;border-top:1px solid #CC9900}
.checkborderleftright{border-left:1px solid #CC9900;border-right:1px solid #CC9900}
.stdservice{background-color:#FFFFFF}
.premservice{background-color:#FFFFFF}
.stdserviceoverlay{filter:alpha(opacity=65);-moz-opacity:65;background-color:#F4F4F4}
.premserviceoverlay{filter:alpha(opacity=65);-moz-opacity:65;background-color:#F4F4F4}
.tblmain{width:98%;margin-left:10px;margin-top:1px}
.padd10{padding-left:10px}
.padd20{padding-left:20px}
.padd25{padding-left:25px}
.padd40{padding-left:40px}
.paddr10{padding-right:10px}
.paddr20{padding-right:20px}
.paddr25{padding-right:25px}
.paddr30{padding-right:30px}
.paddr35{padding-right:35px}
.paddr40{padding-right:40px}
.paddr45{padding-right:45px}
.paddr50{padding-right:50px}
.paddr55{padding-right:55px}
.w348{width:365px}
.w3{width:1%}
.bglightblue{background-color:#0779BF}
.fntbld{font-weight:bold}
.clrblk{color:#000}
.bodytextlg{font-size:.85em;font-weight:normal}
.widthper40{width:35%}
.widthper60{width:65%}
.spnredtext{color:#990000}
.showrow{display:table-row}
.bullet{font-size:1.1em;font-weight:bold}
.bgdotted{background-image:url(../../../images/dash2.gif);background-repeat:repeat-x;width:88%;margin-left:70px}
.bgdottedw75{margin-left:160px;width:75%}
.bgdottedw83{margin-left:110px;width:83%}
.confirmerror{border:medium solid #d98c40;border-color:#d98c40;font-size:70%;padding:5px 0px 5px 0px}
.bodytextgrayb{color:#666666;font:Arial,Helvetica,sans-serif;font-size:14px;text-align:center}
.bodytextgray{font-size:75%;font-weight:normal;color:#666666}
.bodytextgray10p{font-size:70%;font-weight:normal;color:#666666;padding:10px 10px 10px 0px;vertical-align:top}
.gborderb{ border-bottom:1px solid #CCCCCC;background-color:#FFFFFF}
.gborderblack{ border-bottom:1px solid #CCCCCC}
.gborderl{ border-left:1px solid #CCCCCC}
.gborderr{ border-right:1px solid #CCCCCC}
.imgbg{ background-color:#7AC141}
.bodytextwhite10p{font-size:70%;font-weight:normal;color:#FFFFFF;background-color:#7AC141;width:50%;padding:0}
.middleborder{padding-left:20px;border-left:1px solid #CCCCCC}
.middleborderw{padding-left:20px;border-left:1px solid #FFFFFF}
.middlebg{background-image:url(../../../images/botbg.gif);background-repeat:repeat-x;text-align:center;vertical-align:top }
.bodytextbig{font-size:85%;font-weight:bold;text-align:center}
.upbg1{ background:url(../../../images/bot-gradbg1.gif) left bottom repeat-x}
.upbg2{ background:url(../../../images/bot-gradbg2.gif) bottom repeat-x}
.bbullet{ background-image:url(../../../images/bbullet.gif);background-repeat:no-repeat}
a.relatedlinksb:link,a.relatedlinksb:visited{ color:#0066CB;background-color:transparent;font-size:.7em;font-weight:bold;text-decoration:none}
a.relatedlinksbu:link,a.relatedlinksbu:visited{ color:#0066CB;background-color:transparent;font-size:.7em;font-weight:bold;text-decoration:underline}
.ul{ margin:0 0 10px 15px;vertical-align:top}
.p25{padding-left:50px;*padding-left:25px}
.selectlistnewe {border: medium solid #d98c40; border-color: #d98c40;}
.bbheadingtext{color: #0066CB;background-color: transparent; font-size: .9em;font-weight: bold;} 
.bbbullets{color: #336e9a;background-color: transparent;font-size: .95em;font-weight: bold;padding-left:5px;} 
.imgbg2{background-color: #0A70D5;} 
.bodytextwhite10p2{font-size: 70%;font-weight: normal;color:#FFFFFF;background-color: #0A70D5;width:50%;padding:0;}
.pageinatetext{background-color: transparent; font-size: .7em; font-weight: bold;} 
.UnLinked{color:#003366; font-size:.7em;}

/*Modal dialog styles*/
#chaseui-overlay {display:none; width:100%; height:100%; background-color:#000; opacity:.3; filter:alpha(opacity=30); position:fixed; top:0; left:0;}
.nisi-modal { display:none; position:absolute; top:0; left:0; }
.nisi-modalbackground {position:relative; top:3px; left:3px; background-color:white; border: solid 1px #5280b1; }
.nisi-modalforeground {position:relative;  }
.nisi-modalbody {background-color:#fff;padding:20px;}
/*Modal dialog styles end*/
/*DoubleClick ad serving*/
.chaseutil-show{display:block!important;visibility:visible!important}
.chaseutil-hide {  display:none; visibility: hidden;   }
/*DoubleClick ad serving end*/
/*Inst Actn Alerts */
.devicecb {
  width:21px;
  height:21px;
  padding:0px;
}
.instactndevicecb {
  width:21px;
  height:21px;
  background-image:url(/content/ecpweb/sso/image/alert_box_left.gif);
  background-repeat:no-repeat;
  background-position:left center;
  padding:0px;
}
.devicelink {
  padding: 4px 14px 4px 4px;
  float: left;
}
.instactndevicelink {
  padding: 4px;
  float: left;
  background-image:url(/content/ecpweb/sso/image/alert_box_center.gif);
  background-repeat:repeat-x;
  background-position:left center;
}
.instactntag {
  padding: 4px 14px 4px 4px;
  float: right;
  background-image:url(/content/ecpweb/sso/image/alert_box_right.gif);
  background-repeat:no-repeat;
  background-position:right center;
  color:#00631D;
}
.greenimage {
  background-image:url(/content/ecpweb/sso/image/alert_box_center_b.gif);
  background-repeat:no-repeat;
  background-position:center center;
}
.rednew {
  color:#990000;
}
/*Inst Actn Alerts end */
/*RTMessage styles*/
.rtMessagebox { background-color:#FFFFFF; font-weight: normal;}
.rtMessageTitle {color: #BF5817; font-weight: bold; font-size:14px;  padding-bottom:10px;}

div.rtMessageContainer { overflow:auto; height:auto; padding-top:10px; } 
div.rtMessageContainer-closed { overflow:hidden; height:40px; border-bottom: 2px solid #990000; } 
div.rtMessageContainer p.rtMessageText {}
div.rtMessageContainer hr { background-color: #999999; border: 0; height: 1px; width: 97%; }
div.rtMessageContainer #rtMessage_icn {background-image:url( ../../../images/hide_alert.gif); background-repeat:no-repeat; background-position:0 50%;}
div.rtMessageContainer-closed #rtMessage_icn {background-image:url(../../../images/show_alert.gif); background-repeat:no-repeat; background-position:0 50%;}
/* End RTMessage styles */

.redtextnew {
  color: #990000;
  background-color: transparent;
  font-size: .7em;
}
.greentextbold
{
	color: #4a752f;
	font-size: 16px;
	font-weight: bold;
}
.graytextppls
{
	font-size: 11px;
	color: #68655f;
	background-color: transparent;
}
.aligndata 
{
	text-align: center;
  margin: 0 auto;
  width: 966px;
  position: relative;

}
.aligncontent 
{
	padding:0px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
.aligncontent1
{
	text-align: -moz-center;
	text-align: -khtml-center;
}
.maincontentwidth{ width: 721px;}

.agreement {
    background-color: #E4EAF6;
    height: 49px;
    overflow: auto;
    width: 700px;
    padding-left:20px;
    padding-top:5px;
}
.bodytextverticalalign
{
	font-size: 70%;
	text-align: left;
	position: relative;
	bottom: 2px; 
}
a.relatedlinksdisabled
{
  font-size: .7em;
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a.relatedlinksdisabled:visited
{
  font-size: .7em;
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a.relatedlinksdisabled:active
{
  font-size: .7em;
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a.relatedlinksdisabled:hover
{
  font-size: .7em;
  color: gray;
  background-color: transparent;
  text-decoration: none;
}


/*ImpMessage styles*/
.impmessagebox {background: url('/images/ImportantMessage_yellowgra1pix.png') repeat-x scroll;font-weight: normal;padding: 5px 0 0 0;border-bottom: 1px solid #ebeced;font-family: Verdana; color: #333333;}
.impmessagetitle { font-weight: normal; font-size:15px; padding: 0px 15px}
.impmessagetopic { font-weight: bold; font-size:14px;}
.impmessageheadlinecontainer{ padding: 10px 0 10px 0;}
#impmessage_icn { vertical-align: top;padding-top: 2px;}
.impmessagetextcontainer { padding: 5px 15px 10px 15px;}
tr.impmessagerow-expanded{}
tr.impmessagerow {visibility:hidden; display:none;}
div.impmessagecontainer-expanded { overflow:hidden; height:auto; margin-bottom: 10px; } 
div.impmessagecontainer { overflow:hidden; height:45px; margin-bottom:10px; } 
div.impmessagecontainer p.impmessagetext {padding: 0 0 0 5px;}
.impmessageseparator {border-top: 1px solid #cbcbcb; width: 103%;margin: 18px 0 18px 0; }
/* End ImpMessage styles */
.chaseutil-hidevisual, .chaseutil-hidevisual2 {
    height: 1px;
    left: -20000px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

/* eDelivery style */
.errorBorder {
    border:thin solid #D98C40
}

.f18bold 
{
	font-size: 18px;
	font-weight: bold;
}

.chaseui-value-isdefault {
    color: #C8C8C8;
}

/* CSS for tab control */
.maui-tabs {position:relative;}
.maui-tabs ul.maui-header-list {margin:0 0 0 15px;padding:0;position:relative;z-index:1009;}
.maui-header-list li {list-style:none;display:inline-block;padding-left:5px}

.browser-ie-8 div.maui-tabs-body{background:url("/images/bkg_myaccts_tab_expansion_56px.jpg");filter:none;}
.browser-ie-10 div.maui-tabs-body{background: -ms-linear-gradient(top, #f4f5f9 0%,#ffffff 100%);filter:none;}
div.maui-tabs-body{border-top:2px solid #e0e0e0;display:none;padding:7px 0 2px 26px;position:relative;z-index:1000;margin-top:-2px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F5F9',endColorstr='#ffffff');background:-webkit-gradient(linear,left top,left bottom,from(#F4F5F9),to(#fff));background:-moz-linear-gradient(top,#F4F5F9,#fff);
}
.maui-hidevisual{font-size:0; width:0; height:1px; position:absolute; overflow:hidden;outline:none;} /* accesible text */

a.maui-tabs-header, a.maui-tabs-header:link, a.maui-tabs-header:visited {color: #4D7831;display:block;padding: 2px 4px 2px 20px;border: 2px solid transparent; border-bottom:none;background:url("/images/icon_plus_green.png") 6px 6px no-repeat;}
a.maui-tabs-header.active {color: #4D7831;padding: 2px 4px 2px 20px;border: 2px solid #e0e0e0; border-bottom-color:#f4f5f9;background:url("/images/icon_minus_green.png") 6px 6px no-repeat;background-color:#F4F5F9;}

/* Begin - css for legal agreement content */
div.legal-agreement { padding: 0 15px 0 15px;}
.legal-agreement .mobile-only {display:none;}
.legal-agreement .content-back-to-top,.legal-agreement .content-section-content,
.legal-agreement .content-header-text,.legal-agreement .content-header,
.legal-agreement .content-toc li,.legal-agreement h1,
.legal-agreement h2,.legal-agreement h3 { font-size: 12px;}
.legal-agreement div.content-toc {padding:45px 0 25px;}
.legal-agreement .content-toc li{font-weight: bold;list-style:none;}
.legal-agreement .content-toc ol{ padding-left:0 }
.legal-agreement .content-toc ol li ol {padding-left: 15px;} 
.legal-agreement div.content-print {float:right;clear:both;padding:10px 0 10px;}
.legal-agreement div.content-print img { vertical-align: bottom;}
.legal-agreement .content-back-to-top { float:right;}
.legal-agreement div.content-last-updated {float:right;clear:both;padding:10px 0 10px; font-size:11px;}
.legal-agreement div.content-title, .legal-agreement div.content-header-text {clear:both;  display: table;margin: 0 auto;}
.legal-agreement div.content-header-text {border: 3px double; padding:10px; width:70%}
.legal-agreement div.content-title h1{text-decoration:underline;font-weight: bold;}
.legal-agreement .content-section-subheader, .legal-agreement .content-section{ clear:both; }
.legal-agreement .content-section-subheader{ padding-left:10px; }
.legal-agreement .content-section-subcontent{ padding-left:20px; }
.legal-agreement .underline{ text-decoration:underline}
/* End - css for legal agreement content */